.DashboardCard {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

.title {
  font-weight: 600;
}

.subTitle {
  display: block;
  font-size: 13;
  margin-bottom: 20px;
}

.body {

}
