.btn {
  border-radius: 5px;
  padding: 5px;
  border: 0;
  cursor: pointer;
}

.standard {
  background-color: black;
  color: white;
  font-weight: 600;
  &:hover {
    background-color: rgba(rgb(10, 9, 9), .8);
  }
}